.Services {
  &__title {
  }

  &__container {
    &-card {
      &-icon {
      }

      div {
        h1 {
        }

        p {
        }

        a {
        }
      }

      // This is the hover card effetcs
      &:hover {
        // This is the icon in the card
        .Services__container-card-icon {
        }

        div {
          h1 {
          }

          a {
          }
        }
      }
    }
  }

  // This is where the information will be displayed before
  // clicking to make a drop-down menu type
  &__toShow {
    visibility: hidden;
    display: none;
    position: absolute;
    transition: var(--transition);
  }

  &__showed {
    visibility: visible;
    display: block;
    transform: translateY(0);
  }

  &__toVolt {
    i {
      height: auto;
      padding: 0;
      width: auto;
      background-color: none;
      box-shadow: none;
      transform: rotate(0deg);
      transition: var(--transition);
    }
  }

  &__toVolted {
    i {
      transition: var(--transition);
      transform: rotate(90deg);
    }
  }
}

.rotate {
  @include rotate;
}
