.Services {
  &__title {
    @include title;
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem 1.5rem;

    @media (min-width: $ipad) {
      align-items: flex-start;
      gap: 3rem 1.5rem;
    }

    &-card {
      display: flex;
      align-items: center;
      border: 0.5px solid rgba(0, 0, 0, 0);
      border-radius: var(--radius);
      height: auto;
      padding: 1rem;
      transition: var(--transition);
      color: var(--dark-gray);
      margin: 0 auto;
      width: 340px;

      @media (min-width: $ipad) {
        width: 420px;
      }

      @media (min-width: $large) {
        width: auto;
        margin: 0;
      }

      &-icon {
        border-radius: var(--radius);
        box-shadow: 0.3px 0.3px 4px var(--shadow-color);
        transition: var(--transition);
        text-align: center;
        height: auto;
        width: 60px; // For have the same width for all cards
        padding: 0.8rem;
        font-size: 1.9rem;

        &:hover {
          transform: scale(1.08);
        }
      }

      div {
        margin-left: 1rem;

        h1 {
          font-size: 1.3rem;
          font-family: var(--inter-font);
          color: var(--oxford-blue);
          font-weight: 400;
          position: relative;
          margin: 0;
          margin-bottom: 0.4rem;
          transition: var(--transition);
          cursor: pointer;
          display: flex;
          align-items: center;
          @include no-select;

          @include font-weight(var(--powder-blue));

          &:hover {
            text-decoration: underline;
          }

          span {
            i {
              margin-right: 0.5rem;
            }
          }
        }

        p {
          font-family: var(--open-sans-font);
          // font-weight: 300;
          line-height: 1.55;
          letter-spacing: 0.5px;
          position: relative;
          font-size: 0.9rem;

          &:hover {
            color: var(--cultured);
          }
        }

        a {
          text-decoration: none;
          color: var(--dark-gray);
          font-family: var(--inter-font);
          font-weight: 300;
          text-align: right;
          margin-top: 1rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          i {
            margin-right: 0.3rem;
            transition: var(--transition);
          }

          &:hover {
            span {
              text-decoration: underline;
            }

            i {
              text-decoration: none;
              margin-right: 0.5rem;
            }
          }
        }
      }

      // This is the hover card effetcs
      &:hover {
        border: 0.5px solid var(--oxford-dark-blue);
        box-shadow: 0.6px 0.6px 5px var(--shadow-color);

        // Card Hover Effects
        background: var(--oxford-dark-blue);
        color: var(--powder-blue);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c2b0de' fill-opacity='0.03'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

        // This is the icon in the card
        .Services__container-card-icon {
          background: var(--independence);
          color: var(--gainsboro);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.07'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }

        div {
          h1 {
            color: var(--powder-blue);
          }

          a {
            color: var(--green);
          }
        }
      }
    }
  }

  // This is where the information will be displayed before
  // clicking to make a drop-down menu type
  &__toShow {
    visibility: hidden;
    display: none;
    position: absolute;
    transition: var(--transition);
  }

  &__showed {
    visibility: visible;
    display: block;
    transform: translateY(0);
  }

  &__toVolt {
    i {
      height: auto;
      padding: 0;
      width: auto;
      background-color: none;
      box-shadow: none;
      transform: rotate(0deg);
      transition: var(--transition);
    }
  }

  &__toVolted {
    i {
      transition: var(--transition);
      transform: rotate(90deg);
    }
  }
}

.rotate {
  @include rotate;
}
