/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: var(--radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
