html {
  font-size: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--open-sans-font), -apple-system, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cultured);
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}
