:root {
  /* Fonts */
  --open-sans-font: 'Open Sans', sans-serif;
  --inter-font: 'Inter', sans-serif;

  /* Color Palette */
  --powder-blue: #caf0f8;
  --gainsboro: #d8e1e9;
  --beau-blue: #c5d5ea;
  --light-gray: #ecf2f8;
  --cultured: #f8f9fa;
  --cerulean-blue: #7392b7;
  --state-gray: #6c757d;
  --independence: #33415c;
  --oxford-blue: #002855;
  --semi-purple: #21209c;
  --blue-background: #2f3292;
  --cerulean-crayola: #00b4d8;
  --usafa-blue: #0353a4;
  --true-blue: #0466c8;
  --command-blue: #0077b6;
  --oxford-dark-blue: #001233;
  --rich-black: #0b090a;
  --dark: #0d1b2a;
  --dark-gray: #212529;
  --honey-yellow: #ffcd3c;
  --orange: #fb8500;
  --green: #9efcd0;
  /* Shadow Color */
  --shadow-color: rgba(33, 37, 41, 0.4);
  /* root properties */
  font-size: 16px;

  /* Linkedin Color */
  --linkedin-color: #0e76a8;
  /* Github Color */
  --github-color: #211f1f;
  /* Linear Gradient Colors */
  --blue: linear-gradient(90deg, rgba(4, 102, 200, 1) 30%, rgba(3, 83, 164, 1) 95%);

  --blue-bg: linear-gradient(130deg, rgba(71, 63, 173, 1) 34%, rgba(42, 34, 144, 1) 94%);

  --dark-blue-bg: linear-gradient(130deg, rgb(46, 42, 105) 45%, rgb(12, 8, 69) 85%);
  /* Animate Css (Delay) */
  --animate-delay: 0.2s;

  --radius: 10px;
  --transition: 0.15s ease-in;
}
