.Footer {
  margin-top: 15rem;
  padding: 0 10%;
  background: var(--blue-background);
  color: var(--cultured);
  position: relative;
  z-index: 100;
  height: auto;
  padding-bottom: 2rem;

  &__wave {
    position: absolute;
    left: 0;
    top: -17rem;
    z-index: -10;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;

    &-card {
      h2 {
        position: relative;
        margin-bottom: 1rem;
        font-family: var(--inter-font);
        font-weight: 600;

        &::after {
          content: " ";
          width: 25%;
          height: 0.2rem;
          background: var(--light-gray);
          position: absolute;
          left: 0;
          bottom: -3px;
          border-radius: 2px;
        }
      }

      a {
        display: block;
        text-decoration: none;
        font-family: var(--inter-font);
        color: var(--light-gray);
        margin-bottom: 1rem;

        span {
          font-weight: 300;

          @include font-weight(var(--light-gray), 0s);

          &:hover {
            color: var(--gainsboro);
            text-decoration: underline;
          }
        }

        i {
          display: inline-block;
          font-size: 1.2rem;
          margin-right: 0.5rem;
          text-align: left;
        }
      }
    }

    &-illustration {
      width: 400px;
      height: 400px;
      margin-right: -5rem;
      transition: 0.3s ease;
    }
  }

  &__made {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: var(--powder-blue);
    transition: all 0.3s ease;

    i {
      margin: 0 0.5rem;
      transition: all 0.3s ease;
    }

    a {
      margin: 0 0.5rem;
      font-family: var(--inter-font);
      transition: all 0.3s ease;
      color: var(--powder-blue);
      text-decoration: none;
    }

    &:hover {
      color: var(--cultured);

      i {
        color: var(--green);
        font-size: 1.1rem;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
