.Footer {
  background: var(--blue-background);
  margin-top: 3rem;
  color: var(--cultured);
  position: relative;
  height: auto;
  padding: 2rem 0;
  padding-top: 3rem;

  @media (min-width: $ipad) {
    padding: 2rem 5%;
    margin-top: 5rem;
  }

  @media (min-width: $large) {
    padding: 2rem 10%;
    padding-top: 3rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;

    @media (min-width: $ipad) {
      justify-content: space-around;
    }

    @media (min-width: $large) {
      justify-content: space-evenly;
    }

    &-card {
      h2 {
        position: relative;
        margin-bottom: 1rem;
        font-family: var(--inter-font);
        font-weight: 600;

        &::after {
          content: " ";
          width: 25%;
          height: 0.2rem;
          background: var(--light-gray);
          position: absolute;
          left: 0;
          bottom: -3px;
          border-radius: 2px;
        }
      }

      a {
        display: block;
        text-decoration: none;
        font-family: var(--inter-font);
        color: var(--light-gray);
        margin-bottom: 1rem;

        span {
          font-weight: 300;

          @include font-weight(var(--light-gray), 0s);

          &:hover {
            color: var(--gainsboro);
            text-decoration: underline;
          }
        }

        i {
          display: inline-block;
          font-size: 1.2rem;
          margin-right: 0.5rem;
          text-align: left;
        }
      }
    }

    &-illustration {
      width: 250px;
      transition: 0.3s ease;

      @media (min-width: $ipad) {
        width: 350px;
        height: 350px;
      }

      @media (min-width: $large) {
        width: 400px;
        height: 350px;
        margin-right: -5rem;
      }
    }
  }

  &__made {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: var(--powder-blue);
    transition: all 0.3s ease;

    i {
      margin: 0 0.5rem;
      transition: all 0.3s ease;
    }

    a {
      margin: 0 0.5rem;
      font-family: var(--inter-font);
      transition: all 0.3s ease;
      color: var(--powder-blue);
      text-decoration: none;
    }

    &:hover {
      color: var(--cultured);

      i {
        color: var(--green);
        font-size: 1.1rem;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
