.Hero {
  margin-bottom: 7rem;

  @media (min-width: $ipad) {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1rem;
  }

  @media (min-width: $large) {
    align-items: center;
    margin-bottom: 10rem;
    column-gap: 0;
    justify-content: space-evenly;
  }

  &__illustration {
    width: 100%;
    margin: 0 auto;
    height: 220px;
    margin-bottom: 2rem;

    @media (min-width: $ipad) {
      margin: 0;
      width: 280px;
      height: 250px;
    }

    @media (min-width: $large) {
      height: 450px;
      width: 450px;
    }
  }

  &__personal {
    margin-bottom: 2rem;
    padding: 0 10%;

    @media (min-width: $ipad) {
      margin-bottom: 1.5rem;
      padding: 0;
    }

    &-greet {
      display: block;
      color: var(--state-gray);
      margin: 0;
      font-weight: 300;
      font-size: 2rem;

      @media (min-width: $ipad) {
        font-size: 1.5rem;
      }

      @media (min-width: $large) {
        font-size: 2rem;
      }
    }

    &-title {
      font-size: 2rem;
      font-family: var(--inter-font);
      font-weight: 600;

      @media (min-width: $ipad) {
        font-size: 2.1rem;
      }

      @media (min-width: $large) {
        font-size: 3rem;
      }
    }

    &-name {
      color: var(--true-blue);
      font-weight: 700;
      letter-spacing: 1.1px;
      margin-right: 0.5rem;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: var(--blue-background);
      }

      // Line under text to highlight
      @include line-under-text(
        var(--blue-background),
        var(--true-blue),
        50%,
        7px,
        0px,
        8px,
        0.4
      );
    }

    &-codeIcon {
      color: var(--beau-blue);
      font-size: 1.5rem;

      @media (min-width: $large) {
        font-size: 2rem;
        transition: 0.3s ease;
      }

      &:hover {
        opacity: 0.6;
        color: var(--cerulean-blue);
      }
    }

    &-info {
      margin-top: 1.35rem;
      font-size: 1.3rem;
      line-height: 1.5;
      font-weight: 400;
      padding-right: 6rem;

      @media (min-width: $ipad) {
        padding-right: 0;
        width: 280px;
        line-height: 1.3;
        font-size: 1.3rem;
      }

      @media (min-width: $large) {
        line-height: 1.44;
        width: 290px;
      }

      span {
        color: var(--rich-black);
        font-weight: 600;

        span {
          // color: var(--true-blue);
          color: var(--usafa-blue);
          font-weight: 700;
        }
      }

      #Hero__personal-info-js {
        color: var(--honey-yellow);
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    @media (min-width: $ipad) {
      justify-content: flex-start;
      column-gap: normal;
    }

    a {
      font-size: 1.5rem;
      transition: 0.3s ease;
      color: var(--oxford-dark-blue);
      font-family: var(--inter-font);

      @media (min-width: $ipad) {
        margin-right: 1rem;
        font-size: 1.2rem;
      }

      @media (min-width: $large) {
        font-size: 1.5rem;
      }

      &:hover {
        color: var(--blue-background);
        transform: scale(1.05);
      }

      // Child's anchor tags <a>
      &:nth-child(1):hover {
        color: var(--linkedin-color);
      }

      &:nth-child(2):hover {
        color: var(--github-color);
      }

      &:nth-child(3) {
        background: var(--blue);
        border-radius: var(--radius);
        font-size: 0.8rem;
        color: var(--light-gray);
        font-weight: 600;
        text-decoration: none;
        transition: 0.3s ease;
        padding: 0.7rem;

        @media (min-width: $ipad) {
          padding: 0.6rem;
        }

        @media (min-width: $large) {
          font-size: 1rem;
          padding: 0.6rem 0.8rem;
        }

        i {
          font-size: 0.9rem;
          margin-right: 0.2rem;

          @media (min-width: $ipad) {
            font-size: 0.8rem;
          }
        }

        &:hover {
          // background: var(--blue-background);
          filter: brightness(1.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
