.LikeToDo {
  padding: 0 10%;
  margin-bottom: 8rem;
  h2 {
    font-family: var(--inter-font);
    font-weight: 700;
    font-size: 2.2rem;
    position: relative;
    display: inline;

    // For can't select the title
    @include no-select;
    // Line under the text to hightlight
    @include line-under-text(
      var(--command-blue),
      var(--cerulean-crayola),
      50%,
      7px,
      0px,
      5px,
      0.4
    );

    span {
      color: var(--true-blue);
    }
  }

  &__container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    div {
      background: var(--beau-blue);
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233d6087' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      padding: 1rem;
      color: var(--oxford-dark-blue);
      border-radius: 9px;
      text-align: center;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.1);
        background: var(--blue-background);
        color: var(--light-gray);
        box-shadow: 2px 2px 5px var(--shadow-color);
      }

      i {
        margin-bottom: 0.8rem;
        font-size: 1.3rem;
        display: block;
      }

      p {
        font-family: var(--open-sans-font);
        font-weight: 600;
        letter-spacing: 0.1px;
        font-size: 0.9rem;
        cursor: default;
      }
    }
  }
}
