.ListWorksSkills {
  padding: 0 10%;
  color: var(--dark-gray);
  margin-bottom: 1rem;

  &__title {
    font-size: 2.45rem;
    font-family: var(--inter-font);
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;

    // Line under the text to hightlight
    @include line-under-text(
      var(--command-blue),
      var(--cerulean-crayola),
      100%,
      7px,
      0,
      5px,
      0.4
    );

    span {
      color: var(--true-blue);
    }
  }

  &__links {
    display: flex;
    margin-bottom: 3rem;

    a {
      text-decoration: none;
      color: var(--dark-gray);
      transition: 0.3s ease;
      font-size: 1.05rem;

      &:hover {
        transform: scale(1.1);
      }

      span {
        font-family: var(--inter-font);
        font-weight: 400;
        border: 2px solid rgba(255, 255, 255, 0);
        margin-right: 4rem;
        @include no-select;

        &:hover {
          color: var(--oxford-dark-blue);
          border-bottom: 2px solid var(--oxford-blue);
        }
      }
    }
  }

  // Styles when is clicked in the nav and active
  &__link-active {
    span {
      color: var(--dark);
      transform: scale(1.1);
      font-weight: 600;
      text-decoration: none;
      position: relative;

      @include line-under-text(
        var(--independence),
        var(--state-gray),
        100%,
        5px,
        0,
        0px,
        0.2
      );
    }
  }
}

// This is the container for have the same styles in the links
.Cards-container {
  // background: var(--blue-bg);
  padding: 2rem 0;
  border-radius: 7px;
  color: var(--gainsboro);
}
