.NavBar {
  padding: 0 40px;
  margin-bottom: 3rem;

  @media (min-width: $ipad) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    &-title {
      @media (min-width: $ipad) {
        align-items: center;
        justify-content: none;
      }

      i {
        margin-right: 0.3rem;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        font-family: var(--inter-font);
        color: var(--rich-black);
        font-size: 1.3rem;

        @media (min-width: $ipad) {
          position: relative;
        }

        // To not be able to select text
        @include no-select;

        // Line under text to highlight
        @include line-under-text(
          var(--command-blue),
          var(--true-blue),
          90%,
          7px,
          0px,
          0px,
          0.4
        );
      }
    }
  }

  &__links {
    text-align: center;

    @media (min-width: $ipad) {
      display: flex;
      align-items: center;
    }
    a {
      margin: 0 0.9rem;
      text-decoration: none;
      color: var(--oxford-blue);
      font-family: var(--inter-font);
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      // For can't select the text in a link
      @include no-select;

      @media (min-width: $ipad) {
        margin: 0;
        margin-left: 0.9rem;
        transition: 0.2s ease-in;
      }

      &:hover {
        color: var(--oxford-dark-blue);
        border-bottom: 2px solid var(--oxford-blue);
        transform: scale(1.05);

        @media (min-width: $ipad) {
          transform: scale(1.1);
        }
      }
    }
  }

  &__social-media {
    display: none;

    @media (min-width: $ipad) {
      display: flex;
      align-items: center;
      color: var(--beau-blue);
      font-family: var(--inter-font);

      &__span {
        background: var(--blue);
        margin-left: 0.9rem;
        padding: 0.4rem 0.6rem;
        padding-right: 0.4rem;
        border-radius: var(--radius) 0 0 var(--radius);
        // For no select the text, like a button
        cursor: pointer;

        // To not be able to select text
        @include no-select;

        // Add transition for looks with more weight
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        // This works with hover, otherwise it would not be necessary
        transition: border-radius 0s ease;
        &:hover {
          color: var(--light-gray);
          text-shadow: -0.2px -0.2px 0 var(--light-gray),
            0.2px -0.2px 0 var(--light-gray), -0.2px 0.2px 0 var(--light-gray),
            0.2px 0.2px 0 var(--light-gray);
          // For add a transition smooth to font-weight
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          transition: border-radius 0s ease;
        }
      }

      img {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.2rem;
        transition: all 0.3s ease;
      }
    }

    // The side to show with the icons in the social media button
    &-icons {
      // background: var(--blue);
      background: linear-gradient(
        270deg,
        rgba(4, 102, 200, 1) 30%,
        rgba(3, 83, 164, 1) 95%
      );
      padding-left: 0;
      border-radius: 0 7px 7px 0;
      font-size: 1rem;
      padding: 0.4rem 0.6rem;

      &-anchors {
        a {
          &:hover {
            color: var(--light-gray);
          }
        }
      }
    }
  }

  // Class to rotate the arrow
  &__img-volted {
    transition: all 0.3s ease;
    transform: rotate(180deg);
  }

  &__notShowIcons-rounded {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }
}
