.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;

  &__logo {
    &-title {
      a {
        font-family: var(--inter-font);
        font-weight: 600;
        color: var(--rich-black);
        font-size: 1.3rem;
        position: relative;
        text-decoration: none;

        &::after {
          content: " ";
          position: absolute;
          background: var(--command-blue);
          border-radius: 1px;
          width: 100%;
          height: 7px;
          left: 0;
          bottom: 0px;
          z-index: -10;
          opacity: 0.4;
          transition: background 0.3s ease;
        }

        &:hover {
          &::after {
            background: var(--true-blue);
          }
        }
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;

    a {
      margin-left: 0.9rem;
      color: var(--oxford-blue);
      text-decoration: none;
      transition: color 0.2s ease-in;

      &:hover {
        color: var(--oxford-dark-blue);
        border-bottom: 2px solid var(--oxford-blue);
      }
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    color: var(--beau-blue);

    &__span {
      background: var(--command-blue);
      margin-left: 0.9rem;
      padding: 0.4rem 0.6rem;
      padding-right: 0.4rem;
      border-radius: 9px 0 0 9px;
      // For no select the text, like a button
      cursor: pointer;
      user-select: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */

      // Add transition for looks with more weight
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        color: var(--light-gray);
        text-shadow: -0.2px -0.2px 0 var(--light-gray),
          0.2px -0.2px 0 var(--light-gray), -0.2px 0.2px 0 var(--light-gray),
          0.2px 0.2px 0 var(--light-gray);
        // For add a transition smooth to font-weight
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }

      img {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.2rem;
      }
    }

    &-icons {
      background: var(--command-blue);
      padding-left: 0;
      border-radius: 0 9px 9px 0;
      font-size: 1rem;
      padding: 0.4rem 0.6rem;

      &-anchors {
        a {
          &:hover {
            color: var(--light-gray);
          }
        }
      }
    }
  }

  // Class to rotate the arrow
  &__img-volted {
    transition: all 0.3s ease;
    transform: rotate(180deg);
  }
}
