.Services {
  &__title {
    @include title;
    margin-bottom: 2rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 2rem;

    &-card {
      display: flex;
      align-items: center;
      border: 0.5px solid rgba(0, 0, 0, 0);
      border-radius: 9px;
      width: 26rem;
      height: auto;
      padding: 1rem;
      transition: 0.3s ease;
      color: var(--dark-gray);

      &-icon {
        padding: 1.1rem;
        border-radius: 10px;
        box-shadow: 0.3px 0.3px 4px var(--shadow-color);
        transition: 0.3s ease;
        font-size: 1.85rem;
        width: 71.5px; // For have the same width for all cards
        text-align: center;

        &:hover {
          transform: scale(1.08);
        }
      }

      div {
        margin-left: 1rem;

        h1 {
          font-size: 1.5rem;
          font-family: var(--inter-font);
          color: var(--oxford-blue);
          font-weight: 400;
          position: relative;
          margin: 0;
          margin-bottom: 0.4rem;
          transition: all 0.3s ease;
          cursor: pointer;
          display: flex;
          align-items: center;

          @include font-weight(var(--powder-blue));

          span {
            i {
              margin-right: 0.5rem;
            }
          }
        }

        p {
          font-family: var(--open-sans-font);
          // font-weight: 300;
          line-height: 1.55;
          letter-spacing: 0.5px;
          position: relative;

          &:hover {
            color: var(--cultured);
          }
        }
      }

      // This is the hover card effetcs
      &:hover {
        border: 0.5px solid var(--oxford-dark-blue);
        transform: scale(1.025);
        box-shadow: 0.6px 0.6px 5px var(--shadow-color);

        // Card Hover Effects
        background: var(--oxford-dark-blue);
        color: var(--powder-blue);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c2b0de' fill-opacity='0.03'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

        // This is the icon in the card
        .Services__container-card-icon {
          background: var(--independence);
          color: var(--gainsboro);
        }

        div {
          h1 {
            color: var(--powder-blue);
          }
        }
      }
    }
  }

  // This is where the information will be displayed before
  // clicking to make a drop-down menu type
  &__toShow {
    visibility: hidden;
    display: none;
    position: absolute;
    transition: all 0.3s ease;
  }

  &__showed {
    visibility: visible;
    display: block;
    transform: translateY(0);
  }

  &__toVolt {
    i {
      height: auto;
      padding: 0;
      width: auto;
      background-color: none;
      box-shadow: none;
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }
  }

  &__toVolted {
    i {
      transition: all 0.3s ease;
      transform: rotate(90deg);
    }
  }
}
