@mixin after-btn($text, $top: 0, $left: 0) {
  &::after {
    content: $text;
    position: absolute;
    background: var(--dark-gray);
    width: auto;
    height: auto;
    top: $top;
    left: $left;
    padding: 0.5rem;
    font-family: var(--open-sans-font);
    color: var(--gainsboro);
    font-size: 0.7rem;
    border-radius: var(--radius);
    visibility: hidden;
    animation: 0.6s fadeIn;
    animation-fill-mode: forwards;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
