// Line under text to highlight

// This needs several parameters to be able to do a good line
// The necessary parameters are:
// - firstColor = background
// - hoverColor
// - width (optional)
// - height
// - positionLeft
// - positionBottom
// - opacity (optional)

@mixin line-under-text(
  $firstColor,
  $hoverColor,
  $width: 100%,
  $height: 7px,
  $positionLeft: 0px,
  $positionBottom: " ",
  $opacity: 0.4
) {
  &::after {
    content: " ";
    position: absolute;
    border-radius: 1.5px;
    background: $firstColor;
    width: #{$width};
    height: #{$height};
    left: #{$positionLeft};
    bottom: #{$positionBottom};
    z-index: -10;
    opacity: #{$opacity};
    transition: background var(--transition);
  }

  &:hover {
    &::after {
      background: $hoverColor;
    }
  }
}
