// Google Fonts - Open Sans | Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600&display=swap");

//  Variables
@import "./scss/variables.scss";

// Global
@import "./scss/globals";

// App
@import "./scss/App.scss";

// Hero
@import "./scss/components/Hero";

// NavBar
@import "./scss/components/NavBar";
