// Google Fonts - Open Sans | Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600&display=swap");

//  Variables
@import "./scss/variables.scss";

// Global
@import "./scss/globals";
// Loaders
@import "./scss/components/Loaders/Loader";
@import "./scss/components/Loaders/Loader-2";

// Mixins
@import "./scss/mixins/no-select";
@import "./scss/mixins/font-weight";
@import "./scss/mixins/line-under-text";
@import "./scss/mixins/ListWorkSkills-mixins";
@import "./scss/mixins/rotate";

// App
@import "./scss/App.scss";

// Contact Us
@import "./scss/views/ContactUs.scss";

// Hero
@import "./scss/components/Hero";

// NavBar
@import "./scss/components/NavBar";

// AboutResume
@import "./scss/components/AboutResume";

// LikeToDo (Cards)
@import "./scss/components/LikeToDo";

// ListWorksSkills
@import "./scss/components/ListWorksSkills";

// Skills
@import "./scss/components/Skills";

// Projects
@import "./scss/components/Projects";

// Services
@import "./scss/components/Services";

// Fotter
@import "./scss/components/Footer";
