@import "./variables.scss";

.App {
  padding-top: 10px;
  height: 100vh;
}

.wave-pattern {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.3;
  z-index: -1000;
  top: 0;

  @media (min-width: $ipad) {
    top: -3rem;
  }
}
