@import "./variables.scss";

.App {
  padding-top: 10px;
  height: 100vh;
  margin: 0 auto;
  max-width: 1900px;
}

.wave-pattern {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  left: 0;
  opacity: 0.3;
  z-index: -1000;
  top: 0;

  @media (min-width: $large) {
    top: -3rem;
  }
}
