// CSS variables
:root {
  // Fonts
  --open-sans-font: "Open Sans", sans-serif;
  --inter-font: "Inter", sans-serif;

  // Color Palette
  --gainsboro: #d8e1e9;
  --cerulean-blue: #7392b7;
  --cerulean-crayola: #00b4d8;
  --green: #71eba0;
  --usafa-blue: #0353a4;
  --true-blue: #0466c8;
  --command-blue: #0077b6;
  --semi-purple: #21209c;
  --honey-yellow: #eeac06;
  --orange: #fb8500;
  --independence: #33415c;
  // Shadow Color
  --shadow-color: rgba(33, 37, 41, 0.4);
  // Links or anchors tag
  --oxford-blue: #002855;
  // General Background
  --cultured: #f8f9fa;
  --blue-background: #3f43ad;
  // Text Color
  --powder-blue: #caf0f8;
  --dark-gray: #212529;
  --beau-blue: #c5d5ea;
  --state-gray: #6c757d;
  // Titles
  --rich-black: #0b090a;
  // Hover Font Color
  --dark: #0d1b2a;
  --oxford-dark-blue: #001233;
  --light-gray: #ecf2f8;
  // root properties
  font-size: 16px;

  // Linkedin Color
  --linkedin-color: #0e76a8;
  // Github Color
  --github-color: #211f1f;
  // Linear Gradient Colors
  // --blue: linear-gradient(
  //   90deg,
  //   rgba(5, 5, 128, 1) 39%,
  //   rgba(6, 189, 226, 1) 95%
  // );

  --blue: linear-gradient(
    90deg,
    rgba(4, 102, 200, 1) 30%,
    rgba(3, 83, 164, 1) 95%
  );
}
